* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --main: #000000ad;
    --contrast: #fafafa;
    --background: black;
    --maxwidth: 1500px;
  }
  
  html,
  body {
    overflow-x: hidden;
  }
  
  #root {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
  }