.navbar {
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 85px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.404);
}
.container {
  
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlimite {
  max-width: var(--maxwidth);
  padding: 0px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marca {
  font-family: sans-serif;
  text-decoration: none;
  position: relative;
  font-size: 40px;
  color: #000000;
}
.centro {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.derecha {
  display: flex;
  justify-content: right;
}
.navlista {
  display: flex;
  gap: 40px;
}

.links {
  color: rgba(0, 0, 0, 0.842);
  font-size: 25px;
  text-decoration: none;
}
.links:hover {
  filter: drop-shadow(0 0 5px #000000aa);
}
@media (max-width: 1750px) {
  .container {
    padding: 0px 20px; /* poner en todos */
  }
}
