.container {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    position: relative;
  }
  .todo {
  
    width: 100%;
    height: 100%;
    max-width: 1700px;
    display: flex;
    align-items: center;

    position: relative;
  }
  .imagen{
    box-shadow: 0px 0px 20px black ;
  width: 100%;
  height: 100%;
  object-fit: cover;
    
  }
  .texto {
    position: absolute;
    gap: 30px;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    
  }
  
  .titulo {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.534) ;
    max-width: 100%;
    font-size: 80px;
  }
  .parrafo {
    text-shadow: 0px 0px 10px rgb(255, 255, 255, 0.534) ;
    font-size: 20px;
  }
  .boton {
    text-decoration: none;
    border-radius: 20px;
    background-color: #000000;
    height: 60px;
    width: 200px;
    color: white;
    font-size: 21px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boton:hover{
    background-color: #252525;
    cursor: url("./public/imagenes/pointer.png"), auto;
  }